<article class="card-info">
    <ul class="tiny-info">
    <li>
        <span class="grad-label">Faculdade:</span>
        <span class="grad-value">Univali</span>
    </li>
    <li>
        <span class="grad-label">Curso:</span>
        <span class="grad-value">Ciências da Computação</span>
    </li>
    <li>
        <span class="grad-label">Local:</span>
        <span class="grad-value">Kobrasol, São José - SC</span>
    </li>
    <li>
        <span class="grad-label">Situação:</span>
        <span class="grad-value">Cursando 5° fase</span>
    </li>
    </ul>
</article>

<article class="card-info">
    <ul class="tiny-info">
    <br>
    <li>
        <span class="grad-label">Curso:</span>
        <span class="grad-value">Java</span>
    </li>
    <li>
        <span class="grad-label">Site:</span>
        <span class="grad-value">Udemy</span>
    </li>
    <li>
        <span class="grad-label">URL:</span>
        <span class="grad-value"><a href="https://www.udemy.com/course/java-curso-completo/" target="_blank" rel="noopener noreferrer">Java-udemy.com</a></span>
    </li>
    </ul>
</article>

<article class="card-info">
    <ul class="tiny-info">
    <br>
    <li>
        <span class="grad-label">Curso:</span>
        <span class="grad-value">Excel</span>
    </li>
    <li>
        <span class="grad-label">Site:</span>
        <span class="grad-value">Udemy</span>
    </li>
    <li>
        <span class="grad-label">URL:</span>
        <span class="grad-value"><a href="https://www.udemy.com/certificate/UC-b06a19de-1efb-4d30-a601-387d2faea167/" target="_blank" rel="noopener noreferrer">Excel-udemy.com</a></span>
    </li>
    </ul>
</article>

<article class="card-info">
    <ul class="tiny-info">
        <br>
    <li>
        <span class="grad-label">Curso:</span>
        <span class="grad-value">Web Design</span>
    </li>
    <li>
        <span class="grad-label">Site:</span>
        <span class="grad-value">Udemy</span>
    </li>
    <li>
        <span class="grad-label">URL:</span>
        <span class="grad-value"><a href="https://www.udemy.com/certificate/UC-4a28288a-4891-43d7-9553-f1e673dd70d6/" target="_blank" rel="noopener noreferrer">Web-udemy.com</a></span>
    </li>
    </ul>
</article>