<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Vitor Borges Paes</title>
  <link rel="stylesheet" href="../style.css">  
</head>
<body>

<header>
  <nav>
    <a href="#">Sobre mim</a>
    <a href="#">Tecnologias</a>
    <a href="#">Projetos</a>
    <a href="#">Carreira</a>
  </nav>
  <div>
    <a href="#" style="color:#aefbff;">in</a>
    <span>😺</span>
  </div>
</header>

<div class="perfil-container">
  <img src="../../icons/profile.png" alt="Vitor Borges Paes" class="perfil-img" />
  <div class="perfil-info">
    <h1>Vitor Borges Paes</h1>
    <p>Desenvolvedor full-stack</p>
    <button class="botao-contato"> Contato </button>
  </div>

  <div class="container">
    <div class="circle">1</div>
    <div class="circle">2</div>
    <div class="circle">3</div>
    <div class="circle">4</div>
    <div class="circle">5</div> 
  </div>

</div>

<section>
  <div class="description sectionBorder ">
    <h2 class="title_middle">Sobre mim</h2>
    <p>Olá, meu nome é Vitor Borges Paes, sou um desenvolvedor full-stack apaixonado por tecnologia e inovação. Tenho experiência em diversas linguagens de programação e frameworks, sempre buscando aprender e me aprimorar.  Atualmente, estou focado em projetos que envolvem desenvolvimento web e mobile, sempre buscando entregar soluções de alta qualidade e que atendam às necessidades dos usuários.</p>
  </div>

  <div class="graduation sectionBorder">
    <h1 class="title_middle">Formação</h1>

<div class="carousel-container">
  <div class="carousel-track">

    <article class="card-info">
      <ul>
        <li>
          <span class="grad-label">Universidade:</span>
          <span class="grad-value">Univali</span>
        </li>
        <li>
          <span class="grad-label">Curso:</span>
          <span class="grad-value">Ciências da Computação</span>
        </li>
        <li>
          <span class="grad-label">Local:</span>
          <span class="grad-value">Kobrasol, São José - SC</span>
        </li>
        <li>
          <span class="grad-label">Situação:</span>
          <span class="grad-value">Cursando 5° fase</span>
        </li>
      </ul>
    </article>

    <article class="card-info">
      <ul>
        <br>
        <li>
          <span class="grad-label">Site:</span>
          <span class="grad-value">Udemy</span>
        </li>
        <li>
          <span class="grad-label">Curso:</span>
          <span class="grad-value">Java</span>
        </li>
        <li>
          <span class="grad-label">URL:</span>
          <span class="grad-value"><a href="https://www.udemy.com/course/java-curso-completo/" target="_blank" rel="noopener noreferrer">Java-udemy.com</a></span>
        </li>
      </ul>
    </article>

    <article class="card-info">
      <ul>
        <br>
        <li>
          <span class="grad-label">Site:</span>
          <span class="grad-value">Udemy</span>
        </li>
        <li>
          <span class="grad-label">Curso:</span>
          <span class="grad-value">Excel</span>
        </li>
        <li>
          <span class="grad-label">URL:</span>
          <span class="grad-value"><a href="https://www.udemy.com/certificate/UC-b06a19de-1efb-4d30-a601-387d2faea167/" target="_blank" rel="noopener noreferrer">Excel-udemy.com</a></span>
        </li>
      </ul>
    </article>

    <article class="card-info">
      <ul>
        <br>
        <li>
          <span class="grad-label">Site:</span>
          <span class="grad-value">Udemy</span>
        </li>
        <li>
          <span class="grad-label">Curso:</span>
          <span class="grad-value">Web Design</span>
        </li>
        <li>
          <span class="grad-label">URL:</span>
          <span class="grad-value"><a href="https://www.udemy.com/certificate/UC-4a28288a-4891-43d7-9553-f1e673dd70d6/" target="_blank" rel="noopener noreferrer">Web-udemy.com</a></span>
        </li>
      </ul>
    </article>
  </div>
  <div class="carousel-indicators">
    <span data-slide="0" class="active"></span>
    <span data-slide="1"></span>
    <span data-slide="2"></span>
    <span data-slide="3"></span>
  </div>
</div>

    <div class="loop-wrapper">
      <div class="mountain"></div>
      <div class="hill"></div>
      <div class="tree"></div>
      <div class="tree"></div>
      <div class="tree"></div>
      <div class="rock"></div>
      <div class="truck"></div>
      <div class="wheels"></div>
    </div>     
  </div>
</section>

<script src="../../src/controller/formationAnimation.js"></script>
<script src="../../src/controller/navAnimation.js"></script>
</body>
</html>


