body {
  background-color: #0f0320;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  overflow-x: hidden;
}

header {
  /* padding: 20px 40px; */
  padding: 1% 2rem;
  display: grid ;
  grid-template-columns: 1fr auto;
  /* justify-content: space-between; */
  align-items: center;
}

nav a {
  margin-right: 1vw;
  text-decoration: none;
  color: #e17fff;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #fff;
}
/* .circle {
  width: 10%;
  height: auto;
  border-radius: 50%;

  display: none;
} */

.perfil-container {
  border: 2px solid #c799ff;
  border-radius: 10px;
  padding: 30px;
  margin: auto 40px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.02);
  box-shadow: 0 0 20px rgba(199, 153, 255, 0.2);
  
}

.perfil-img {
  width: 180px;
  height: 180px;
  aspect-ratio: 1 / 1;

  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #c799ff;
  margin-right: 30px;
  rotate: -25deg;
}

.perfil-info {
  /* width: 40vw ; */
  width: min(40vw, 500px);
}

.perfil-info h1 {
  margin: 0;
  font-size: 2rem;
  color: #fff;
}

.perfil-info p {
  font-size: 1.2rem;
  color: #ccc;
  margin: 5px 0 15px;
}

.botao-contato {
  padding: 10px 20px;
  background: none;
  color: #fff;
  font-weight: bold;
  border: solid 2px #c799ff;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.botao-contato:hover {
  background-color: #c799ff;
  color: #fff;
  transform: scale(1.05);
}


/*Header animation*/

    .container {
      /* margin-left: 2%; */
      position: relative;
      width: 100%;
      /* max-width: 70%; */
      height: 1vw;
    }
    

    .circle {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      position: absolute;
      top: 25px;
      left: 200%;
      animation: moveFade 10s linear infinite;
    }

    .circle:nth-child(1) { animation-delay: 0s;}
    .circle:nth-child(2) { animation-delay: 1.0s; }
    .circle:nth-child(3) { animation-delay: 2.0s; }
    .circle:nth-child(4) { animation-delay: 3.0s; }
    .circle:nth-child(5) { animation-delay: 4.0s; }
    .circle:nth-child(6) { animation-delay: 5.0s; }
    .circle:nth-child(7) { animation-delay: 6.0s; }
    .circle:nth-child(8) { animation-delay: 7.0s; }
    .circle:nth-child(9) { animation-delay: 8.0s; }
    .circle:nth-child(10) { animation-delay: 9.0s; }


@keyframes moveFade {
      0% {
        left: 100%;
        opacity: 0;
      }
      50% {
        left: 50%;
        opacity: 1;
      }
      70% {
        opacity: 1;
      }
      100% {
        left: 0%;
        opacity: 0;
      }
    }
